.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

h3 { font-size:15px; line-height:18px; color:#bcbcbc; text-transform: uppercase; }

h1.prd-logo { font-size:0; line-height:0; width:448px; height:61px; float:left; }
h1.prd-logo a{
   display:block;
   height:61px;
  // text-indent: -4000px;
  font-size: 80px;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15) ;
   }
  //  background:url(/assets/images/content/PRODUCTS/logo.gif);


#prd-navigation { float:right; white-space:nowrap; }
#prd-navigation ul{ list-style-type: none; padding-top:30px;}
#prd-navigation ul li{ float:left; display:inline; border-right:solid 1px #5f5f5f; padding-right:8px; margin-right:8px;}
#prd-navigation ul li.last{ border-right:0; padding-right:0; margin-right:0;}
#prd-navigation ul li a{ color:#fff;}
#prd-navigation ul li a:hover,
#prd-navigation ul li a.active { color:#ffd900; }
.shell { width:980px; margin:0 auto; }

#prd-top { height:679px;  }
#prd-header { height:81px; }

#prd-slider { width:980px; height:418px; position:relative; overflow:hidden; }
#prd-slider-holder { width:980px; height:418px; position:relative; overflow:hidden; }
#prd-slider-holder ul{ width:980px; height:418px; position:relative; overflow:hidden; list-style-type: none;}
#prd-slider-holder .jcarousel-clip{ width:980px; height:418px; position:relative; overflow:hidden; }

#prd-slider-holder ul li{ width:980px; height:418px; position:relative; overflow:hidden; float:left; display:inline; }
#prd-slider-nav a{ position:absolute; top:180px; font-size:0; line-height:0; z-index:2; width:58px; height:58px; text-indent: -4000px;}
#prd-slider-nav a.prev{ background:url(/assets/images/content/PRODUCTS/prev.gif); left:0;}
#prd-slider-nav a.next{ background:url(/assets/images/content/PRODUCTS/next.gif); right:0;}


#prd-main { width:100%; background:url(/assets/images/content/PRODUCTS/main.gif) repeat-x 0 0;}

.options { height:47px; white-space:nowrap; padding-top:3px;}
.options .search{ float:left; padding:6px 0 0 0; background:url(/assets/images/content/PRODUCTS/border.gif) repeat-y right 0; height:33px; margin-right:12px;}
.options .search .field{ float:left; width:191px; height:21px; background:url(/assets/images/content/PRODUCTS/field.gif); padding:6px 5px 0 5px;}
.options .search .field input{ width:191px; border:0; background:transparent; color:#fff; font-weight: bold;}
.search-submit{ float:left; font-size:0; line-height:0; width:24px; height:27px; background:url(/assets/images/content/PRODUCTS/search.gif) no-repeat; text-indent: -4000px; border:0; margin-left:9px; cursor:pointer; position:relative; top:1px; margin-right:13px;}

.options a { color:#636363; text-decoration: underline;}
.options a:hover { color:#890000; text-decoration: none;}
.options span.left { padding:10px 0 0 0;}
.options span.more-links { margin-left:2px;}
.options span.more-links a{ margin-left:9px;}

.cart { float:left; position:relative; top:2px; }
.cart strong{ float:left; width:95px; height:36px; background:url(/assets/images/content/PRODUCTS/cart-price.gif); text-align: right; font-size:20px; color:#701616; line-height:36px; padding:0 7px 0 5px;}
.cart-ico{ float:left; width:47px; height:36px; background:url(/assets/images/content/PRODUCTS/cart.gif) no-repeat 0 0; font-size:0; line-height:0; text-indent: -4000px;}

#prd-content { padding-top:20px; }

.prd-tabs { height:36px; }
.prd-tabs ul{ list-style-type: none; font-size:14px; text-transform: uppercase; font-weight: bold; }
.prd-tabs ul li{ float:left; display:inline; margin-right:1px; }
.prd-tabs ul li a,
.prd-tabs ul li a span { float:left; height:36px; background:url(/assets/images/content/PRODUCTS/tab.gif) no-repeat 0 -37px; padding:0 0 0 20px;}
.prd-tabs ul li a span { background-position:right -37px; padding:0 20px 0 0;}
.prd-tabs ul li a { position:relative; line-height:36px; color:#895d23; }


.prd-tabs ul li a.red { background-position:0 -74px; color:#fff; }
.prd-tabs ul li a.red span{ background-position:right -74px;}

.prd-tabs ul li a.active,
.prd-tabs ul li a:hover { background-position:0 0; color:#4f4f4f; cursor:pointer; }
.prd-tabs ul li a.active span,
.prd-tabs ul li a:hover span{ background-position:right 0;}

#prd-container { background:#fff url(/assets/images/content/PRODUCTS/container-t.gif) no-repeat 0 0; padding:30px 20px; }

.items { position:relative; width:960px; margin-right:-20px; padding-bottom:5px; }
.items ul{ list-style-type: none;}
.items ul .image{ text-align: center;}
.items ul li{ float:left; border:dashed 1px #cfcfcf; width:194px; margin:0 18px 12px 0; padding:13px; }
.items ul li p span{ color:#890000}
.items ul li p.price{ padding-top:15px; }
.items ul li p.price strong{ color:#890000; font-size:14px;}

.brands h3 { padding-bottom:10px;}
.brands a { margin-right:30px;}

#prd-footer { border-top:dashed 1px #cfcfcf; margin-top:20px; padding:10px 0; color:#8e8e8e;}
#prd-footer a{ color:#8e8e8e; }
#prd-footer a:hover{ color:#9d0000; cursor:pointer;}
#prd-footer span{ padding:0 5px;}

.tabbed .tab-content { display:none;}
.tabbed .tab-content.active {
  display: block !important;
  background: #fff !important;
}
.tabbed { min-height:420px;}
