<!-- ##################### aside-right ###################### -->
<div class="test-cajas col-sm-3 no-padding">
    <div class="widget-container widget_recent_entries boxed-velvet">
        <div class="inner gradient">
            <h3 class="widget-title">Some Services</h3>
            <ul>
                <li class="clearfix first">
                    <a href="#" class="widget-thumb" hidefocus="true" style="outline: none;">
                        <span class="service_img">
                    <img class="service_icon service_icon_security" src="/assets/images/_plantilla-velvet/icons/service-icon-6.png" alt="">
                  </span>
                    </a>
                    <a href="#" class="post-title" hidefocus="true" style="outline: none;">
                        <h3>Analysis</h3>
                        We analyzed & stats for your needs
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#" class="widget-thumb" hidefocus="true" style="outline: none;">
                        <span class="service_img">
                    <img class="service_icon service_icon_privacy" src="/assets/images/_plantilla-velvet/icons/service-icon-5.png" alt="">
                  </span>
                    </a>
                    <a href="#" class="post-title" hidefocus="true" style="outline: none;">
                        <h3>Support</h3>Technical support by personal assistant
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#" class="widget-thumb" hidefocus="true" style="outline: none;">
                        <span class="service_img">
                    <img src="/assets/images/_plantilla-velvet/icons/service-icon-8.png" alt="">
                  </span>
                    </a>
                    <a href="#" class="post-title" hidefocus="true" style="outline: none;">
                        <h3>Multimedia</h3>Filming that´s we love. everything in 360º, photo & video.
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#" class="widget-thumb" hidefocus="true" style="outline: none;">
                        <span class="service_img">
                    <img class="service_icon service_icon_copywriting" src="/assets/images/_plantilla-velvet/icons/service-icon-3.png" alt="">
                  </span>
                    </a>
                    <a href="#" class="post-title" hidefocus="true" style="outline: none;">
                        <h3>Design</h3>
                        Ours webs profesional designs makes differents.
                    </a>
                </li>
                <li class="clearfix last">
                    <a href="#" class="widget-thumb" hidefocus="true" style="outline: none;">
                        <img src="/assets/images/_plantilla-velvet/temp/latest5.png" alt="">
                        <!-- <a href="https://imgflip.com/gif/27qby5"><img src="https://i.imgflip.com/27qby5.gif" title="made at imgflip.com" /></a> -->
                    </a>
                    <a href="#" class="post-title" hidefocus="true" style="outline: none;">
                        <h3>NoImage</h3>Duis aliquet egestas purus in blandit. Curabitur vulputate, </a>
                </li>
            </ul>
            <a href="#" class="btn" hidefocus="true" style="outline: none;"><span>Read more</span></a>
        </div>
    </div>

</div>
<!-- ##################### aside-right ###################### -->