<!-- ############################################################### footer -->
<div class="spacer"></div>
<footer class="sticky-footer boxed">

    <!-- Footer Dark -->
    <div class="footer footer-light">
        <div class="divider-full"></div>

        <!-- container-->
        <div class="container">

            <div class="divider-top"></div>

            <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>SITE MAP</span></h3>
                        <ul>
                            <li class="first"><a href="#" hidefocus="true" style="outline: none;"><span>Works</span></a></li>
                            <li><a href="#" hidefocus="true" style="outline: none;"><span>Services</span></a></li>
                            <li><a href="#" hidefocus="true" style="outline: none;"><span>About Us</span></a></li>
                            <li class="last"><a href="#" hidefocus="true" style="outline: none;"><span>Contact</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>SOCIAL NETWORKS</span></h3>
                        <ul>
                            <li class="first"><a href="#" hidefocus="true" style="outline: none;"><span>Facebook</span></a></li>
                            <li><a href="#" hidefocus="true" style="outline: none;"><span>youtube</span></a></li>
                            <li><a href="#" hidefocus="true" style="outline: none;"><span>Pinterest</span></a></li>
                            <li class="last"><a href="#" hidefocus="true" style="outline: none;"><span>google +</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>WHERE WE ARE</span></h3>
                        <!-- ##### GOOGLE-MAP -->
                        <div id="googleMap"></div>
                        <!-- <div id="panel">
                            <h6>Parque Tecnológico de Málaga, España</h6>
                            <span>Calle de Marie Curie, 10, 29590 Málaga"</span>
                           <input id="geocode_search " type="button " value="Geocode ">
                    </div> -->
                        <!-- ##### GOOGLE-MAP -->
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_contact ">
                        <h3 class="widget-title "><span>OUR ADDRESS</span></h3>
                        <ul class="contact-address ">
                            <li class="address first "><span>Parque Tecnológico</span></li>
                            <li class="phone "><span>C./ de Marie Curie, 10</span></li>
                            <li class="fax last "><span>29590</span></li>
                            <li class="city "><span>Málaga, España</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_nav_menu ">
                        <h3 class="widget-title "><span>LEGAL</span></h3>
                        <ul>
                            <li class="first "><a href="# " hidefocus="true " style="outline: none; "><span>privacy polici</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>Terms of sevrices</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>warranty products</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>we dont use cookies</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Copy Right</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="divider-bottom "></div>

            <div class="row ">
                <div class="col-sm-4 ">
                    <div class="write_email footer_bottom "><a href="# " hidefocus="true " style="outline: none; "><i class="ico-footer-support ico-footer-support1 "></i>
                      <span>AVR3DStudio@gmail.com</span></a></div>
                </div>
                <div class="col-sm-4 ">
                    <div class="live_chat footer_bottom "><a href="# " hidefocus="true " style="outline: none; "><i class="ico-footer-support ico-footer-support2 "></i>
                      <span>Soon Live Chat 24/7/365</span></a></div>
                </div>
                <div class="col-sm-4 ">
                    <div class="live_support footer_bottom "><a href="# " hidefocus="true " style="outline: none; "><i class="ico-footer-support ico-footer-support3 "></i>
                      <span>Support: +33 (0) 0000 0000</span></a></div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 ">
                    <div class="copyright footer_bottom "><span>© Copyright 2018 | Hosting Co. All rights reserved</span></div>
                </div>
            </div>

        </div>
        <!--/ container-->
    </div>
    <!--/ Footer Dark -->

    <div class="container ">
        <div class="row ">
            <div class="col-sm-12 ">
                <h6 class="foo ">No background footer</h6>
            </div>
        </div>
    </div>

    <!-- Footer Default Style -->
    <div class="footer ">
        <div class="divider-full "></div>

        <!-- container-->
        <div class="container ">

            <div class="divider-top "></div>

            <div class="row ">
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_nav_menu ">
                        <h3 class="widget-title "><span>OUR HOSTING</span></h3>
                        <ul>
                            <li class="first "><a href="# " hidefocus="true " style="outline: none; "><span>Website Hosting</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Reseller Hosting</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Cloud Servers</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>Site Supercharge</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_nav_menu ">
                        <h3 class="widget-title "><span>AFFILIATES</span></h3>
                        <ul>
                            <li class="first "><a href="# " hidefocus="true " style="outline: none; "><span>Hosting Affiliates</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Affiliate Banners</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Affiliate Login</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>Affiliate Sign-up</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_nav_menu ">
                        <h3 class="widget-title "><span>SUPPORT</span></h3>
                        <ul>
                            <li class="first "><a href="# " hidefocus="true " style="outline: none; "><span>Knowledgebase</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Community Forum</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Video Tutorials</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>Contact Live Support</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_nav_menu ">
                        <h3 class="widget-title "><span>ABOUT US</span></h3>
                        <ul>
                            <li class="first "><a href="# " hidefocus="true " style="outline: none; "><span>About Cloud-Host</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Our Team</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>In the Press</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>Contact us directly</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_nav_menu ">
                        <h3 class="widget-title "><span>CAREERS</span></h3>
                        <ul>
                            <li class="first "><a href="# " hidefocus="true " style="outline: none; "><span>Join our team</span></a></li>
                            <li><a href="# " hidefocus="true " style="outline: none; "><span>Job Offerings Board</span></a></li>
                            <li class="last "><a href="# " hidefocus="true " style="outline: none; "><span>Send your Resume</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="widget-container widget_contact ">
                        <h3 class="widget-title "><span>OUR ADDRESS</span></h3>
                        <ul class="contact-address ">
                            <li class="address first "><span>Rue Teissere, #.24 060</span></li>
                            <li class="city "><span>Cannes, France</span></li>
                            <li class="phone "><span>Phone: +33(0) 9399 79</span></li>
                            <li class="fax last "><span>Fax: +33(0) 5499 7987</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="divider-bottom "></div>

            <div class="row ">
                <div class="col-sm-2 ">
                    <div class="write_email footer_bottom "><a href="# " hidefocus="true " style="outline: none; "><i class="ico-footer-support ico-footer-support1 "></i><span>Write us an Email</span></a></div>
                </div>
                <div class="col-sm-2 ">
                    <div class="live_chat footer_bottom "><a href="# " hidefocus="true " style="outline: none; "><i class="ico-footer-support ico-footer-support2 "></i><span>Live Chat 24 / 7</span></a></div>
                </div>
                <div class="col-sm-4 ">
                    <div class="live_support footer_bottom "><a href="# " hidefocus="true " style="outline: none; "><i class="ico-footer-support ico-footer-support3 "></i><span>Support: +33 (0) 9399 7987</span></a></div>
                </div>
                <div class="col-sm-4 ">
                    <div class="copyright footer_bottom "><span>© Copyright 2012 | Hosting Co. All rights reserved</span></div>
                </div>
            </div>
        </div>
        <!--/ container-->
    </div>
    <!--/ Footer Default Style -->



</footer>


<!-- ############################################################### footer -->